{% extends 'layout.twig' %}

{% block body %}
    <main role="main" class="flex-shrink-0">
        <div class="container">
            <h1 class="mb-3">{{ category }}</h1>
            <div class="post-container">
                {% for post in posts %}
                    <div class="post-item card mb-3">
                        <div class="card-header">{{ post.title }}</div>
                        <div class="card-body">
                            <div class="image-container">
                                <img src="/uploads/{{ post.images[0].filename }}" alt="">
                            </div>
                            <div class="description">{{ post.description }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
