{% extends 'layout.twig' %}
{% block head %}
    {{ parent() }}
    <meta name="_csrf" content="{{ csrfToken }}">
{% endblock %}
{% block header %}
{% endblock %}
{% block body %}
    <div id="react-register-form"></div>
{% endblock %}
{% block footer %}{% endblock %}
