{% extends 'layout.twig' %}

{% block body %}
  <main role="main" class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-5">Users</h1>
      <ul>
      {% for user in users %}
        <li>{{ user.name }}</li>
      {% endfor %}
      </ul>
    </div>
  </main>
{% endblock %}
